<div>
    <h2 style="text-align:center">Welcome to Admin Panel</h2><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h4>Product CRUD</h4><br>
                <button type="button">Add Product</button><br><br>
                <button type="button">Delete Product</button><br><br>
                <button type="button">Update Product</button><br><br>
                <button type="button">View Requests</button><br><br>
            </div>
            <div class="col-4">
            <h2>Sign Up Now</h2><br>
            <div>
    <!-- <h6>Add Employee</h6> -->
            <div class="padding container d-flex justify-content-center">
        
            <form class="signup-form">
            <h4 class="text-center">Employee Actions</h4>
            <hr>
            <div class="form-group"> <input type="text" formControlName="fname" class="form-control" placeholder="First Name" required="required"> </div>
            <div class="form-group"> <input type="text" formControlName="lname" class="form-control" placeholder="Last Name" required="required"> </div>
            <div class="form-group"> <input type="email" formControlName="emailid" class="form-control" placeholder="Email Address" required="required"> </div>
            <div class="form-group"> <input type="text" formControlName="password" class="form-control" placeholder="123" [disabled]="true" required="required"> </div>
            <span>(it's the password you use for first login, and the system will ask you to change the password)</span>
            <div class="form-group text-center"> <button type="submit" class="btn btn-blue btn-block">Add New Employee</button> </div>
            <br/>
        {{addMsg}}
            </form>
        
            </div>       
                
    <div class="col-4">
        <h4>Delete Employee</h4>
            <label>Email ID: </label>
                <input type="email" formControlName="emailid" required>
                <br>
                <input type="submit" value="Delete the Employee">
                <input type="reset" value="Clear">
                    {{deleteMsg}}
    </div>
            </div>
        </div>
    </div>

    <br><br>
    <div style=" text-align:center">
        <div>
            <h6>Generate reports</h6>
            <form [formGroup]="reportForm" (ngSubmit)="generateReport()">
                <label>Select a type of report</label>
                <br>
                <input type="radio" formControlName="type" value="daily">
                <label for="daily">Daily Report </label>&nbsp;
                <input type="radio" formControlName="type" value="weekly">
                <label for="weekly">Weekly Report </label>&nbsp;
                <input type="radio" formControlName="type" value="monthly">
                <label for="monthly">Monthly Report </label>&nbsp;
                <br>
                <div *ngIf="reportForm.value.type == 'daily' || reportForm.value.type == 'weekly' || reportForm.value.type == 'monthly'">
                    <input type="date" formControlName="date">
                </div>
                <input type="radio" formControlName="type" value="product">
                <label for="product">Product Report</label>&nbsp;
                <input type="radio" formControlName="type" value="customer">
                <label for="user">Customer Report</label>&nbsp;
                <div *ngIf="reportForm.value.type === 'product'">
                    <label>Product Name:</label> 
                    <input type="text" formControlName="pName">
                </div>
                <div *ngIf="reportForm.value.type === 'customer'">
                    <label>Customer Email:</label> 
                    <input type="text" formControlName="cEmail">
                </div>
                <br>
                <input type="submit" value="Generate the Report">
            </form>
        </div>
        <p *ngIf="reportGenerated && reportEmpty">No Result Found</p>
        <table *ngIf="reportGenerated && !reportEmpty">
            <thead>
                <tr>
                    <th>User Email</th>
                    <th>Items</th>
                    <th>Total Price</th>
                    <th>Total Quantity</th>
                    <th>Status</th>
                    <th>Order Placed Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of reports">
                    <td>{{report.userId}}</td>
                    <td>
                        <div *ngFor="let item of report.pOrdered | keyvalue">
                            <td>{{item.key}}</td>
                            <td>{{item.value}}</td>
                        </div>
                    </td>
                    <td>${{report.pTotalPrice}}</td>
                    <td>{{report.pQuantity}}</td>
                    <td>{{report.status}}</td>
                    <td>{{report.orderPlaced}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div style=" text-align:center">
    </div>
    
</div>