<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    
<div>
    <h2 style="text-align:center;">User Sign In</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form class="px-4 py-3" #userRef="ngForm" (ngSubmit)="signin(userRef.value)">
                    <div class="mb-3">
                        <label>User Name</label>
                        <input class="form-control" placeholder="username" type="text" name="userName" ngModel required>
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        <input class="form-control" placeholder="password" type="password" name="pass" ngModel required>
                    </div>
                    <input type="submit" value="SignIn" class="btn btn-link" [disabled]="userRef.invalid"/>
                    <input type="reset" value="reset" class="btn btn-secondary"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>