<div class="container">
    <div *ngIf="allowDisplay" style="text-align: center;">
        <table class="styled-table">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Cart</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let o of allOrders">
                <td>{{o._id}}</td>
                <td>{{o.date}}</td>
                <td>{{o.cart | json}}</td>
                <td>{{o.status}}</td>
                <td>${{o.total}}</td>
            </tr>
            </tbody>
        </table>
        <br/>
        {{msg}}
        <br/>
        <p>No refunds allowed. Sorry for the inconvenience but if you have a problem, please raise a ticket!</p>
    </div>
</div>