<h2>Welcome {{userName}} to User Panel  </h2>

<a routerLink=""> Manage Account</a> |
<a routerLink=""> Order History</a> |
<a routerLink="/ticket"> Raise Ticket</a> &nbsp;

<a routerLink="/userPanel/{{this.home.userID}}/checkout">
    <input type="button" value="Check Out" style="text-align: center; font-size: larger; color: black;">
</a>



<div class="container">
    <div class="row">
        <div style="text-align:right; color:blue; font-size: xx-large;" >
            <label>Cart Size:</label><label id="size" style= " text-align: center; font-size:larger; color: crimson; ">0</label>
        </div>
    </div>
</div>
<div class="container" id="items_container">
    <div class="row" id="items">
    </div>
</div>

