* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}


.logo{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;

}

li, a , button{
    font-family: 'Times New Roman', Times, serif;
    
    
    color: blue;
    font-size: larger;   
    text-decoration: none;
}
button{
    padding: .2.5rem .5rem;
}
.nav-link {
    list-style: none;
}

.nav-link li {
    display: inline-block;
    padding: 0px 1rem;
}

.loginSignin{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.loginSignin-signup{
    margin-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: lightcyan;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;

}

